@tailwind base;
@tailwind components;
@tailwind utilities;

.service-item {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.service-item.visible {
  opacity: 1;
  transform: translateX(0);
}


@keyframes swoopVerticalIn {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes swoopHorizontalIn {
  0% {
    transform: translateX(70%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-swoopIn {
  animation: swoopVerticalIn 1s ease-out forwards;
}

@media all and (min-width: 900px){
  .animate-swoopIn {
    animation: swoopHorizontalIn 1s ease-out forwards;
    
  }

}


.dark {
  --background-color: #1A1A1A;
  --foreground-color: #E0E0E0; 
}